In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
data=pd.read_json('DATA/BrowserHistory_Fixed.json',orient='records')
data.head()

,page_transition,title,url,client_id,time_usec,favicon_url
0,AUTO_TOPLEVEL,New tab,chrome-native://newtab/,hh4QgrDVdFOlJPW3v893OA==,1651906865756430,NaN
1,LINK,"Diedrah Kelly on Twitter: ""I understand the ch...",https://mobile.twitter.com/DiedrahKelly/status...,hh4QgrDVdFOlJPW3v893OA==,1651906860392158,NaN
2,LINK,Twitter,https://mobile.twitter.com/DiedrahKelly/status...,hh4QgrDVdFOlJPW3v893OA==,1651906824501688,NaN
3,LINK,"Diedrah Kelly on Twitter: ""I understand the ch...",https://mobile.twitter.com/DiedrahKelly/status...,hh4QgrDVdFOlJPW3v893OA==,1651906819966573,NaN
4,AUTO_BOOKMARK,"Shah Rukh Khan hosts diplomats at Mannat, leav...",https://indianexpress.com/article/entertainmen...,hh4QgrDVdFOlJPW3v893OA==,1651906805052901,NaN

In [3]:
data.drop_duplicates(inplace=True)
data.head()

,page_transition,title,url,client_id,time_usec,favicon_url
0,AUTO_TOPLEVEL,New tab,chrome-native://newtab/,hh4QgrDVdFOlJPW3v893OA==,1651906865756430,NaN
1,LINK,"Diedrah Kelly on Twitter: ""I understand the ch...",https://mobile.twitter.com/DiedrahKelly/status...,hh4QgrDVdFOlJPW3v893OA==,1651906860392158,NaN
2,LINK,Twitter,https://mobile.twitter.com/DiedrahKelly/status...,hh4QgrDVdFOlJPW3v893OA==,1651906824501688,NaN
3,LINK,"Diedrah Kelly on Twitter: ""I understand the ch...",https://mobile.twitter.com/DiedrahKelly/status...,hh4QgrDVdFOlJPW3v893OA==,1651906819966573,NaN
4,AUTO_BOOKMARK,"Shah Rukh Khan hosts diplomats at Mannat, leav...",https://indianexpress.com/article/entertainmen...,hh4QgrDVdFOlJPW3v893OA==,1651906805052901,NaN

In [4]:
data['date_time']= pd.to_datetime(data['time_usec'],unit='us',utc=True)
data.drop(['time_usec'],axis=1,inplace=True)
data['date']=data.date_time.dt.date
data.date=pd.to_datetime(data.date)
data['time']=data.date_time.dt.time
data.time=data.date_time.dt.time.astype(str).apply(lambda x:x[:8])
data.drop(['date_time'],axis=1,inplace=True)
data.head()

,page_transition,title,url,client_id,favicon_url,date,time
0,AUTO_TOPLEVEL,New tab,chrome-native://newtab/,hh4QgrDVdFOlJPW3v893OA==,NaN,2022-05-07,07:01:05
1,LINK,"Diedrah Kelly on Twitter: ""I understand the ch...",https://mobile.twitter.com/DiedrahKelly/status...,hh4QgrDVdFOlJPW3v893OA==,NaN,2022-05-07,07:01:00
2,LINK,Twitter,https://mobile.twitter.com/DiedrahKelly/status...,hh4QgrDVdFOlJPW3v893OA==,NaN,2022-05-07,07:00:24
3,LINK,"Diedrah Kelly on Twitter: ""I understand the ch...",https://mobile.twitter.com/DiedrahKelly/status...,hh4QgrDVdFOlJPW3v893OA==,NaN,2022-05-07,07:00:19
4,AUTO_BOOKMARK,"Shah Rukh Khan hosts diplomats at Mannat, leav...",https://indianexpress.com/article/entertainmen...,hh4QgrDVdFOlJPW3v893OA==,NaN,2022-05-07,07:00:05

In [5]:
#Removing Useless Data
print(data[data.title=='New tab'])
print(data[data.title=='New Tab'])

      page_transition    title                      url  \
0       AUTO_TOPLEVEL  New tab  chrome-native://newtab/
5       AUTO_TOPLEVEL  New tab  chrome-native://newtab/
10               LINK  New tab  chrome-native://newtab/
17               LINK  New tab  chrome-native://newtab/
19      AUTO_TOPLEVEL  New tab  chrome-native://newtab/
...               ...      ...                      ...
24045            LINK  New tab  chrome-native://newtab/
24047            LINK  New tab  chrome-native://newtab/
24048          RELOAD  New tab  chrome-native://newtab/
24049            LINK  New tab  chrome-native://newtab/
24054            LINK  New tab  chrome-native://newtab/

                      client_id favicon_url       date      time
0      hh4QgrDVdFOlJPW3v893OA==         NaN 2022-05-07  07:01:05
5      hh4QgrDVdFOlJPW3v893OA==         NaN 2022-05-07  06:59:03
10     hh4QgrDVdFOlJPW3v893OA==         NaN 2022-05-07  06:57:02
17     hh4QgrDVdFOlJPW3v893OA==         NaN 2022-05-06  10:22:31
19     hh4QgrDVdFOlJPW3v893OA==         NaN 2022-05-05  15:53:39
...                         ...         ...        ...       ...
24045  hh4QgrDVdFOlJPW3v893OA==         NaN 2021-05-07  12:02:49
24047  hh4QgrDVdFOlJPW3v893OA==         NaN 2021-05-07  12:00:39
24048  hh4QgrDVdFOlJPW3v893OA==         NaN 2021-05-07  09:22:58
24049  hh4QgrDVdFOlJPW3v893OA==         NaN 2021-05-07  08:24:07
24054  hh4QgrDVdFOlJPW3v893OA==         NaN 2021-05-07  08:22:03

[831 rows x 7 columns]
      page_transition    title               url                 client_id  \
680     AUTO_TOPLEVEL  New Tab  chrome://newtab/  AJjscgG50VL3sBguZROInQ==
682             TYPED  New Tab  chrome://newtab/  AJjscgG50VL3sBguZROInQ==
687             TYPED  New Tab  chrome://newtab/  AJjscgG50VL3sBguZROInQ==
689             TYPED  New Tab  chrome://newtab/  AJjscgG50VL3sBguZROInQ==
691             TYPED  New Tab  chrome://newtab/  AJjscgG50VL3sBguZROInQ==
...               ...      ...               ...                       ...
19101   AUTO_TOPLEVEL  New Tab  chrome://newtab/  TnfJmIANrX3o8mNreweYLg==
19108           TYPED  New Tab  chrome://newtab/  TnfJmIANrX3o8mNreweYLg==
19110           TYPED  New Tab  chrome://newtab/  TnfJmIANrX3o8mNreweYLg==
19122           TYPED  New Tab  chrome://newtab/  TnfJmIANrX3o8mNreweYLg==
19127   AUTO_TOPLEVEL  New Tab  chrome://newtab/  TnfJmIANrX3o8mNreweYLg==

      favicon_url       date      time
680           NaN 2022-04-04  17:33:42
682           NaN 2022-04-04  17:32:02
687           NaN 2022-04-04  17:30:49
689           NaN 2022-04-04  17:30:17
691           NaN 2022-04-04  17:28:40
...           ...        ...       ...
19101         NaN 2021-12-23  07:37:13
19108         NaN 2021-12-23  04:02:55
19110         NaN 2021-12-23  04:01:09
19122         NaN 2021-12-23  03:55:00
19127         NaN 2021-12-23  03:39:38

[2114 rows x 7 columns]

In [6]:
to_drop=data[(data.title=='New tab')|(data.title=='New Tab')].index
data.drop(to_drop,inplace=True)
data

,page_transition,title,url,client_id,favicon_url,date,time
1,LINK,"Diedrah Kelly on Twitter: ""I understand the ch...",https://mobile.twitter.com/DiedrahKelly/status...,hh4QgrDVdFOlJPW3v893OA==,NaN,2022-05-07,07:01:00
2,LINK,Twitter,https://mobile.twitter.com/DiedrahKelly/status...,hh4QgrDVdFOlJPW3v893OA==,NaN,2022-05-07,07:00:24
3,LINK,"Diedrah Kelly on Twitter: ""I understand the ch...",https://mobile.twitter.com/DiedrahKelly/status...,hh4QgrDVdFOlJPW3v893OA==,NaN,2022-05-07,07:00:19
4,AUTO_BOOKMARK,"Shah Rukh Khan hosts diplomats at Mannat, leav...",https://indianexpress.com/article/entertainmen...,hh4QgrDVdFOlJPW3v893OA==,NaN,2022-05-07,07:00:05
6,LINK,Google Takeout,https://takeout.google.com/?hl=en-GB&pli=1,hh4QgrDVdFOlJPW3v893OA==,NaN,2022-05-07,06:57:49
...,...,...,...,...,...,...,...
24046,AUTO_BOOKMARK,Groom gets trolled for wearing mangalsutra Gro...,https://www.timesnownews.com/amp/the-buzz/arti...,hh4QgrDVdFOlJPW3v893OA==,NaN,2021-05-07,12:01:45
24050,AUTO_BOOKMARK,Fiat SUV (Project 363) revealed - Autocar India,https://www.autocarindia.com/car-news-amp/fiat...,hh4QgrDVdFOlJPW3v893OA==,NaN,2021-05-07,08:24:05
24051,LINK,New Skoda Fabia unveiled for international mar...,https://www.autocarindia.com/car-news-amp/new-...,hh4QgrDVdFOlJPW3v893OA==,NaN,2021-05-07,08:23:49
24052,LINK,Fiat SUV (Project 363) revealed - Autocar India,https://www.autocarindia.com/car-news-amp/fiat...,hh4QgrDVdFOlJPW3v893OA==,NaN,2021-05-07,08:23:36
24053,AUTO_BOOKMARK,Fiat SUV (Project 363) revealed - Autocar India,https://www.autocarindia.com/car-news-amp/fiat...,hh4QgrDVdFOlJPW3v893OA==,NaN,2021-05-07,08:23:35

In [7]:
data.columns

Index(['page_transition', 'title', 'url', 'client_id', 'favicon_url', 'date',
       'time'],
      dtype='object')

In [8]:
#separting data cause it's easy to play with less number of columns
history=data[['page_transition','title','url','client_id','date','time']]
icons=data[['url','favicon_url']]

In [9]:
with pd.ExcelWriter('DATA/Data.xlsx') as writer:
    history.to_excel(writer,sheet_name='Browser_History',index=False)
    icons.to_excel(writer,sheet_name='Icons',index=False)

# OVER TO POWER BI FROM HERE ,LET'S CREATE SOME AWESOME REPORTS!